* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: clip;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}

/* size relative to view height */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("./img/wirelightbg.png");
    background-position: center;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: clip;
}

/* size relative to view height */
.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    padding: 10px;
    background: rgba(0,0,0,.75);
}

/* size relative to frame height % */
.logo {
    margin-top: -15%;
    height: 65%; 
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: rgba(0,0,0,.8);
}
.email {
    margin-top: -2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 2.75vh;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 10px;
    text-decoration: none;
}

a:link {
    color: white
}
a:visited {
    color: mediumaquamarine;
}
a:hover {
    color: aquamarine;
}
a:active {
    color: gold;
}
